{
    "printWidth": 6767,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "arrowParens": "always",
    "bracketSpacing": true,
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
