# FTC Api creds
[ftc_api]
username = "username"
token = "apikey"

[notifications]
ntfy_server_url = "https://ntfy.sh"
ntfy_topic = "FTC-{}"
# Put teams you want to recieve notifications here
ntfy_teams = [6547, 26855]

[server]
vanguard_url = "https://example.com"

[admin]
password = "password"
max_failed_attempts = 5
lockout_duration_minutes = 15

