[ftc_api]
username = "GraciousProfessionalist"
token = "67676767-6767-6767-6767-676767676767"

[notifications]
ntfy_server_url = "https://ntfy.sh"
ntfy_topic = "FTC-{}"
ntfy_teams = [26855, 6547]

[server]
vanguard_url = "https://ftc.technodot.org"

[admin]
admin_teams = [26855, 6547]
admin_secret = "67676767676767676767676767676767"
registration_notification_url = "https://ntfy.sh/..."