@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@theme {
	--font-sans: 'JetBrains Mono', monospace;
}

:root, body {
	font-family: 'JetBrains Mono', monospace;
}

:root,
:global(html),
:global(body) {
	height: 100%;
	margin: 0;
	background: #181818;
}
